body {
  margin: 50px 30px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #000;
}
.container {
  max-width: 400px;
  width: 100%;
}
.item {
  padding-bottom: 80px;
  box-sizing: border-box;
}
form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 80px;
}
input {
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  padding: 8px 15px;
  height: 45px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}
button {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  background: #fff;
  color: #000;
  cursor: pointer;
  height: 45px;
  padding: 8px 15px;
  transition: 0.2s;
  box-sizing: border-box;
}
button:hover {
  background: #000;
  color: #fff;
}
.content {
  line-height: 1.4em;
  word-break: break-all;
}
.content img {
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  filter: grayscale(100%);
  transition: 0.2s;
  display: block;
}
.content img:hover {
  filter: grayscale(0%);
}
.date {
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  margin-top: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
.archive {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.archive .spacer {
  flex-grow: 1;
}

#allowNotifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
