:root {
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

body {
  margin: 50px 30px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #000;
}
.container {
  max-width: 400px;
  width: 100%;
}
.item {
  padding-bottom: 80px;
  box-sizing: border-box;
}
form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 80px;
}
#postForm {
  flex-direction: row;
}
#loginForm {
  flex-direction: column;
  margin-top: 30px;
}
#loginForm .login-key {
  display: flex;
  gap: 0.5rem;
}
input[type="text"],
input[type="password"] {
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  padding: 8px 15px;
  height: 45px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}
button {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  background: #fff;
  color: #000;
  cursor: pointer;
  height: 45px;
  padding: 8px 15px;
  transition: 0.2s;
  box-sizing: border-box;
}
button:hover {
  background: #000;
  color: #fff;
}
.content {
  line-height: 1.4em;
  word-break: break-all;
}
.content img {
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  filter: grayscale(100%);
  transition: 0.2s;
  display: block;
}
.content img:hover {
  filter: grayscale(0%);
}
.date {
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  margin-top: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
.archive {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.archive .spacer {
  flex-grow: 1;
}

#allowNotifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Checkbox */
:root {
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

label.checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  appearance: none;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin: 0;
  outline: none;
}

/* Hover and Focus States */
input[type="checkbox"]:focus {
  border-color: #000;
}

/* Hover and Focus States */
input[type="checkbox"]:hover {
  opacity: 0.75;
}

/* Checked State */
input[type="checkbox"]:checked {
  background-color: #000;
  background-image: var(--icon-checkbox);
}

/* Disabled State */
input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
